<!-- herencia y carga de archivos estáticos -->
{% extends "Bookrealm/padre.html" %}
{% load static %}



<!-- BLOQUE TITLE: titulo de la ventana navegador -->
{% block title %}
    Editar libro
{% endblock title %}


<!-- BLOQUE TITULO: título / encabezado de página -->
{% block titulo %}

<h1 class="masthead-heading mb-0">Editar libro</h1>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {{form.as_p}}
    <input type="submit" class="btn btn-primary btn-xl rounded-pill mt-5" value="Editar">
</form>

{% endblock titulo %}